meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(content="IE=edge", http-equiv="X-UA-Compatible")

//- Required Meta Tags
meta(name='description', content=`${description}`)
//- meta(property="og:title" content=`${title}`)
//- meta(property="og:type" content="website")
//- meta(property="og:url" content=`${domain}`)
//- meta(property='og:locale', content='ja_JP')
//- meta(property="og:site_name" content=`${title}`)
//- meta(property="og:description" content=`${description}`)
//- meta(property="og:image" content=`${ogImage}`)

//- twitter
//- meta(name="twitter:card", content="summary_large_image")
//- meta(name="twitter:site" content="website")
//- meta(name="twitter:domain" content=`${twitterDomain}`)
//- meta(name="twitter:title" content=`${title}`)
//- meta(name="twitter:description" content=`${description}`)
//- meta(name="twitter:image" content=`${ogImage}`)

//- facebook
//- meta(property="fb:admins" content=`${facebookAdmins}`)
//- meta(property="fb:app_id" content=`${facebookAppId}`)

//- Title
title #{title}